PORT=5003
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=metering_db
REDIS_HOST=redis
REDIS_PORT=6379
WORKER_CONCURRENCY=5
LOG_LEVEL=info
NODE_ENV=development